**/.ipynb_checkpoints/
**/*.npz
**/*.csv
**/__pycache__/
**/*.h5

japanese_learner.egg-info/

japanese_learner/test/*

japanese_learner/command_prompt_learner/test.ipynb
japanese_learner/image_letter_classifier/data/
japanese_learner/image_letter_classifier/Untitled.ipynb

japanese_learner_site/db.sqlite3
japanese_learner_site/test.ipynb
japanese_learner_site/data_init_japanese2latin.json
japanese_learner_site/japanese2latin/data_init.json

japanese_learner_site/latin2japanese/data_init.json