**/.ipynb_checkpoints/
**/*.npz
**/*.csv
**/__pycache__/
**/*.h5

japanese_learner.egg-info/

scripts/test/

scripts/command_prompt_learner/test.ipynb

scripts/image_letter_classifier/data/
scripts/image_letter_classifier/Untitled.ipynb