{% load static %}
<!DOCTYPE html>
<html>
<body>

<h1 id="question" latin={{ question.latin_text }} japanese={{ question.japanese_text }}>{{ question.latin_text }}</h1>
<br>

<canvas id="myCanvas" width="512" height="512" style="border:1px solid #d3d3d3;"></canvas> 
<h1 id="check"></h1>
<br>
<button id="resetButton" type="button" onclick="Reset()">Reset</button>
<button id="checkButton" type="button" onclick="CheckImg()">Check</button>
<button id="SendButton" type="button" onclick="SendAnswer()" style="display: none;">Answer</button>
<h1 id="result"></h1>
<button id="newQuestionButton" type="button" onclick="location.href='/latin2japanese'" style="display: none;">New Question</button>


<script src="{% static 'latin2japanese/questions.js' %}"></script>


</body>
</html>